<!DOCTYPE HTML>
<html>
<head>
  <script src="/javascripts/socket.io.js"></script>

  <script>

      window.onload = function () {
          var socket = io();

          var dps = []; // dataPoints
          var chart = new CanvasJS.Chart("chartContainer", {
//              exportEnabled: true,
              title :{
                  text: "Dynamic Data"
              },
              axisY: {
                  includeZero: false,
                  maximum : 100,
//                  crosshair: {
//                      enabled: true,
//                      snapToDataPoint: true
//                  }

              },
              axisX:{
                  viewportMinimum: 0,
                  viewportMaximum: 60,
                  valueFormatString: "",
//                  crosshair: {
//                      enabled: true,
//                      snapToDataPoint: true
//                  }

              },
              data: [{
                  type: "area",
                  dataPoints: dps
              }]
          });

          var xVal = 0;
          var yVal = 100;
          var updateInterval = 1000;
          var dataLength = 60; // number of dataPoints visible at any point
          socket.on('cpu_load',function (data) {
              dps.push({
                  x: xVal,
                  y: data.data
              });
              xVal++;
              if (dps.length > dataLength) {
                  var viewportMinimum = (chart.axisX[0].viewportMinimum) + 1
                  var viewportMaximum = (chart.axisX[0].viewportMaximum) + 1
                  chart.axisX[0].set('viewportMinimum',viewportMinimum,true);
                  chart.axisX[0].set('viewportMaximum',viewportMaximum,true);
                  dps.shift();
              }
              chart.render();
          })


      }

  </script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>